[submodule "gnome-terminal-colors-solarized"]
	path = os/linux/ext/gnome-terminal-colors-solarized
	url = git://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "zprezto"]
	path = zsh/zprezto.symlink
	url = git://github.com/sorin-ionescu/prezto.git
[submodule "fonts"]
	path = fonts
	url = git://github.com/Lokaltog/powerline-fonts.git
